<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title><%= mytitle %></title>
  </head>
  <style>
    input, button {
      font-size: 33px;
    }
  </style>
  <body>
<form  action="/" method="post">
      <h1>what is your Username? </h1>
      <input name="userNameee" type="text">
      <br>
      <br>
      <button>Send to DB</button>

      <h1>your name is <%= arr.at(-1).userNameee %></h1>

      

    </body>
</form>
</html>
